version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: lms-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    restart: unless-stopped

volumes:
  mongodb-data:
